# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/Debug
/Release
*.opensdf
*.sdf
*.suo
*.user
/ipch

buck-out
.buckd
buckaroo
buckaroo_macros.bzl
.buckconfig.d
.buckconfig.local
